.container {
	padding: 0 2rem;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	gap: 1em;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.link {
	display: grid;
	justify-items: center;
	align-items: center;
	font-weight: 700;
}
.link svg {
	font-size: 1.5em;
}
.addPeriode {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.addPeriode svg {
	font-size: 2em;
}
